<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/w3.css">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome/css/font-awesome.min.css">
</head>

<body>

    

    <main>

        <div class="w3-container">
                <div class="card-ordem w3-card-4"><!-- inicio .card-ordem -->
                    <div class="card-ordem-head w3-red"><h3>82666</h3></div>
                    <div class="card-ordem-body">
                        <table class="w3-table w3-striped">
                            <tr style="font-weight:bold;">
                                <td>Situação:</td>
                                <td>Urgência</td>
                            </tr>
                            <tr>
                                <td>Técnico:</td>
                                <td>Guilherme Rodrigues</td>
                            </tr>
                            <tr>
                                <td>Entrada:</td>
                                <td>30/06/2017</td>
                            </tr>
                            <tr>
                                <td>Prazo:</td>
                                <td>02/07/2017</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-ordem-footer w3-light-grey w3-padding">
                        <a href="index.php?req=controller_ver-ordem" class="w3-text-blue">Ver tudo</a>
                        <a href="index.php?req=controller_editar-ordem" class="w3-button w3-blue w3-margin-left">Editar</a>
                    </div>
                </div><!-- fim .card-ordem -->  
                
                <div class="card-ordem w3-card-4"><!-- inicio .card-ordem -->
                    <div class="card-ordem-head w3-deep-orange"><h3>82666</h3></div>
                    <div class="card-ordem-body">
                        <table class="w3-table w3-striped">
                            <tr>
                                <td>Técnico:</td>
                                <td>Guilherme Rodrigues</td>
                            </tr>
                            <tr>
                                <td>Situação:</td>
                                <td>Garantia</td>
                            </tr>
                            <tr>
                                <td>Entrada:</td>
                                <td>30/06/2017</td>
                            </tr>
                            <tr>
                                <td>Prazo:</td>
                                <td>02/07/2017</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-ordem-footer w3-light-grey w3-padding">
                        <a href="index.php?req=controller_ver-ordem" class="w3-text-blue">Ver tudo</a>
                        <a href="index.php?req=controller_editar-ordem" class="w3-button w3-blue w3-margin-left">Editar</a>
                    </div>
                </div><!-- fim .card-ordem -->

                
            <div class="card-ordem w3-card-4"><!-- inicio .card-ordem -->
                    <div class="card-ordem-head w3-yellow"><h3>82666</h3></div>
                    <div class="card-ordem-body">
                        <table class="w3-table w3-striped">
                            <tr>
                                <td>Técnico:</td>
                                <td>Guilherme Rodrigues</td>
                            </tr>
                            <tr>
                                <td>Situação:</td>
                                <td>Orçamento</td>
                            </tr>
                            <tr>
                                <td>Entrada:</td>
                                <td>30/06/2017</td>
                            </tr>
                            <tr>
                                <td>Prazo:</td>
                                <td>02/07/2017</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-ordem-footer w3-light-grey w3-padding">
                        <a href="index.php?req=controller_ver-ordem" class="w3-text-blue">Ver tudo</a>
                        <a href="index.php?req=controller_editar-ordem" class="w3-button w3-blue w3-margin-left">Editar</a>
                    </div>
                </div><!-- fim .card-ordem -->

                <div class="card-ordem w3-card-4"><!-- inicio .card-ordem -->
                    <div class="card-ordem-head w3-amber"><h3>82666</h3></div>
                    <div class="card-ordem-body">
                        <table class="w3-table w3-striped">
                            <tr>
                                <td>Técnico:</td>
                                <td>Guilherme Rodrigues</td>
                            </tr>
                            <tr>
                                <td>Situação:</td>
                                <td>Orç. Concluído</td>
                            </tr>
                            <tr>
                                <td>Entrada:</td>
                                <td>30/06/2017</td>
                            </tr>
                            <tr>
                                <td>Prazo:</td>
                                <td>02/07/2017</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-ordem-footer w3-light-grey w3-padding">
                        <a href="index.php?req=controller_ver-ordem" class="w3-text-blue">Ver tudo</a>
                        <a href="index.php?req=controller_editar-ordem" class="w3-button w3-blue w3-margin-left">Editar</a>
                    </div>
                </div><!-- fim .card-ordem -->

                <div class="card-ordem w3-card-4"><!-- inicio .card-ordem -->
                    <div class="card-ordem-head w3-light-green"><h3>82666</h3></div>
                    <div class="card-ordem-body">
                        <table class="w3-table w3-striped">
                            <tr>
                                <td>Técnico:</td>
                                <td>Guilherme Rodrigues</td>
                            </tr>
                            <tr>
                                <td>Situação:</td>
                                <td>Aprovado</td>
                            </tr>
                            <tr>
                                <td>Entrada:</td>
                                <td>30/06/2017</td>
                            </tr>
                            <tr>
                                <td>Prazo:</td>
                                <td>02/07/2017</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-ordem-footer w3-light-grey w3-padding">
                        <a href="index.php?req=controller_ver-ordem" class="w3-text-blue">Ver tudo</a>
                        <a href="index.php?req=controller_editar-ordem" class="w3-button w3-blue w3-margin-left">Editar</a>
                    </div>
                </div><!-- fim .card-ordem -->

                <div class="card-ordem w3-card-4"><!-- inicio .card-ordem -->
                    <div class="card-ordem-head w3-light-blue"><h3>82666</h3></div>
                    <div class="card-ordem-body">
                        <table class="w3-table w3-striped">
                            <tr>
                                <td>Técnico:</td>
                                <td>Guilherme Rodrigues</td>
                            </tr>
                            <tr>
                                <td>Situação:</td>
                                <td>Em andamento</td>
                            </tr>
                            <tr>
                                <td>Entrada:</td>
                                <td>30/06/2017</td>
                            </tr>
                            <tr>
                                <td>Prazo:</td>
                                <td>02/07/2017</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-ordem-footer w3-light-grey w3-padding">
                        <a href="index.php?req=controller_ver-ordem" class="w3-text-blue">Ver tudo</a>
                        <a href="index.php?req=controller_editar-ordem" class="w3-button w3-blue w3-margin-left">Editar</a>
                    </div>
                </div><!-- fim .card-ordem -->

                <div class="card-ordem w3-card-4"><!-- inicio .card-ordem -->
                    <div class="card-ordem-head w3-blue"><h3>82666</h3></div>
                    <div class="card-ordem-body">
                        <table class="w3-table w3-striped">
                            <tr>
                                <td>Técnico:</td>
                                <td>Guilherme Rodrigues</td>
                            </tr>
                            <tr>
                                <td>Situação:</td>
                                <td>Pronto</td>
                            </tr>
                            <tr>
                                <td>Entrada:</td>
                                <td>30/06/2017</td>
                            </tr>
                            <tr>
                                <td>Prazo:</td>
                                <td>02/07/2017</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-ordem-footer w3-light-grey w3-padding">
                        <a href="index.php?req=controller_ver-ordem" class="w3-text-blue">Ver tudo</a>
                        <a href="index.php?req=controller_editar-ordem" class="w3-button w3-blue w3-margin-left">Editar</a>
                    </div>
                </div><!-- fim .card-ordem -->

                <div class="card-ordem w3-card-4"><!-- inicio .card-ordem -->
                    <div class="card-ordem-head w3-blue-grey"><h3>82666</h3></div>
                    <div class="card-ordem-body">
                        <table class="w3-table w3-striped">
                            <tr>
                                <td>Técnico:</td>
                                <td>Guilherme Rodrigues</td>
                            </tr>
                            <tr>
                                <td>Situação:</td>
                                <td>Sem Sucesso</td>
                            </tr>
                            <tr>
                                <td>Entrada:</td>
                                <td>30/06/2017</td>
                            </tr>
                            <tr>
                                <td>Prazo:</td>
                                <td>02/07/2017</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-ordem-footer w3-light-grey w3-padding">
                        <a href="index.php?req=controller_ver-ordem" class="w3-text-blue">Ver tudo</a>
                        <a href="index.php?req=controller_editar-ordem" class="w3-button w3-blue w3-margin-left">Editar</a>
                    </div>
                </div><!-- fim .card-ordem -->

                <div class="card-ordem w3-card-4"><!-- inicio .card-ordem -->
                    <div class="card-ordem-head w3-dark-grey"><h3>82666</h3></div>
                    <div class="card-ordem-body">
                        <table class="w3-table w3-striped">
                            <tr>
                                <td>Técnico:</td>
                                <td>Guilherme Rodrigues</td>
                            </tr>
                            <tr>
                                <td>Situação:</td>
                                <td>Montagem(não aprovado)</td>
                            </tr>
                            <tr>
                                <td>Entrada:</td>
                                <td>30/06/2017</td>
                            </tr>
                            <tr>
                                <td>Prazo:</td>
                                <td>02/07/2017</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-ordem-footer w3-light-grey w3-padding">
                        <a href="index.php?req=controller_ver-ordem" class="w3-text-blue">Ver tudo</a>
                        <a href="index.php?req=controller_editar-ordem" class="w3-button w3-blue w3-margin-left">Editar</a>
                    </div>
                </div><!-- fim .card-ordem -->

               
        </div>
        
    </main>

    
</body>
</html>