*{
    margin:         0px;
    padding:        0px;
    box-sizing:     border-box;
}

body{
    background-color: #F6F6F6;
}

.area{
    width: 90vw;
    margin: auto;
}

.top-container{
    width: 100vw;
    height: auto;
    float: left;
    background-color: #3D7BE5;
}

.logo-container{
    height: 40px;
    display: block;
    color: #F6F6F6;
}

.logo-container button{
    height: 100%;
}

.logo-container h2{
    display: inline-block;
    position: relative;
    bottom: calc(50% - 12px);
    font-size: 24px;
}

.menu-container{
    height: 65px;
    background-color: #19212A;
    display: block;
}

nav{
    height: 100%;
    color: #F6F6F6;
}

nav a{
    height: 100%;
}

nav .nav-hover{
    padding: 0px !important;
    height: 100%;
}

 main{
    position: relative;
    top: 120px;
    flex: left;
 }

.accordion-situacao + .accordion-situacao{
     margin-top: 2rem;
 }

.accordion-situacao table tr{
     cursor: pointer;
 }

 .search-form{
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

 .search-form button{
     margin-top: 22px;
     margin-left: 0.5rem;
 }

 .card-ordem,
 .card-tecnico{
     width: 320px;
     height: auto;
     float: left;
     margin-bottom: 2rem;
     margin-right: 2rem;
 }

 .card-ordem .card-ordem-head,
 .card-tecnico .card-tecnico-head{
    width: 100%;
    text-align: center;
    float: left;
 }

 .card-tecnico .card-tecnico-head{
    text-align: left;
    padding-left: 1rem;
 }
 .card-ordem .card-ordem-body{
     width: 100%;
     padding: 0.5rem;
 }

.card-ordem-body table tr:first-child{
    font-weight: bold;
}

 .card-ordem .card-ordem-footer,
 .card-tecnico .card-tecnico-footer{
     width: 100%;
    text-align: right;
 }

 


 .folha-ordem,
 .folha-edit{
     width: 45vw;
     height: auto;
     padding: 1rem;
     float: left;
 }

 .folha-ordem table{
     width: 100%;
     margin-top: 2rem; 
 }

 .folha-ordem table tr td:first-child{
     font-weight: bold;
 }

 .folha-ordem textarea{
   width: 100%;
   height: 100px;
   position: relative;
   top: -1.5rem;
   resize: none;
   border: none;
   background-color: rgba(0, 0, 0, 0);
   color: black;
}

.folha-edit label{
    font-weight: bold;
}
.folha-edit textarea{
    width: 100%;
    height: 100px;
    resize: none;
    padding: 1rem;
}

.folha-ordem .w3-panel p:first-child{
    font-weight: bold;
}